<div class="widget-grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <ng-container *ngFor="let widget of (widgets | async);let i = index">
    <div class="widget width-{{widget.size.x}} height-{{widget.size.y}}" [ngStyle]="{'background-color': backgroundColor}" id="widget-{{i}}">
      <div class="widget-title">
        {{widget.title}}
      </div>
      <div class="widget-content">
        <!--add content here-->
        <ng-container *ngTemplateOutlet="widgetTpl; context: {$implicit: widget}"></ng-container>
      </div>
      <span class="widget-size-trigger" *ngIf="showSize">
        <a (click)="widget.openSizeSelect=true">⇲</a>
      </span>
      <!--uncomment to add edit and delete triggers-->
      <span class="widget-edit-trigger" *ngIf="showControls">
        <a (click)="editWidget(widget)">✎</a>
      </span>
      <span class="widget-delete-trigger" *ngIf="showControls">
        <a (click)="deleteWidget(widget)">×</a>
      </span>
      <div class="widget-size-select" *ngIf="widget.openSizeSelect">
        <div *ngFor="let y of sizes" class="widget-size-row">
          <div *ngFor="let x of sizes" class="widget-size-option"
            [class.active]="widget.tempSize.x >= x && widget.tempSize.y >= y"
            [class.inactive]="widget.size.x < x || widget.size.y < y" (mouseenter)="widget.tempSize = {x: x, y: y}"
            (click)="setWidgetSize(widget, x, y)"></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>